  <div class="row" *ngIf="projects">
    <div class="col-md-6 col-md-offset-3
                col-sm-8 col-sm-offset-2
                col-xs-10 col-xs-offset-1">
      <div class="todo"
            *ngFor="let project of projects; let pi = index" id="{{ project.id }}">
        <section class="project">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span (click)="editProject(project, pi)" class="name">
            {{ project.name }}</span>

          <div class="project-controls">
            <div class="edit" (click)="editProject(project, pi)"><i 
                class="fa fa-pencil" style="font-size:16px">
            </i></div><div class="delete" (click)="deleteProject(project, pi)"><i 
                class="fa fa-trash-o" style="font-size:16px"></i></div>
          </div>
        </section>
        <section class="new-task">
          <task-form on-valueChanged="addTask($event, pi)"
                projectId="{{ project.id }}" mode="new"></task-form>
        </section>
        <section class="tasks">
            
          <div class="todo-list" *ngIf="project.tasks" 
                                [dragula]='project.id'
                                [dragulaModel]='project.tasks'
                                [dragulaOptions]='options'>
            <div class="item" 
                  *ngFor="let task of project.tasks; let ti = index" 
                    id="{{ task.id }}">
              <input type="checkbox" id="task{{task.id}}"
                      [checked]="task.done"
                      (change)="markTask(project.id, task, pi, ti)"/> 
              <label class="toggle" for="task{{task.id}}"></label>
              <span class="task" (click)="editTask(project, task, pi, ti)">
                {{ task.name }}</span>

              <div *ngIf="task.deadline" class="deadline">
                <span [ngClass]="{'red': !beforeDeadline(task.deadline) }">
                  {{ task.deadline }}</span>
              </div>

              <div class="todo-controls">
                <div><i class="fa fa-unsorted prioritize" style="font-size:16px">
                </i></div><div class="edit" (click)="editDeadline(project, task, pi, ti)"><i 
                    class="fa fa-clock-o" style="font-size:16px">
                </i></div><div class="delete" (click)="deleteTask(project, task, pi, ti)"><i 
                    class="fa fa-trash-o" style="font-size:16px"></i></div>
              </div>
            </div>

          </div>
        </section>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button class="btn add-todo-btn" (click)="newProject()">
      <div class="plus"><i class="fa fa-plus" aria-hidden="true"></i></div>
      Add TODO List
    </button>
  </div>  

<modal #projectModal 
        id="project-modal"
        (onClose)="proj = false">
  <modal-content>
    <project-form *ngIf="proj == true && !!projectId == true" 
                  on-valueChanged="updateProject($event); 
                                   projectModal.close()"
                        projectId="{{ projectId }}" mode="edit"></project-form>
    <project-form *ngIf="proj == true && projectId == null" 
                  on-valueChanged="addProject($event); 
                                   projectModal.close()" mode="new"></project-form>
  </modal-content>
</modal>

<modal #taskModal
        id="task-modal"
        (onClose)="task = false">
    <modal-content>
      <task-form  *ngIf="task == true && !!projectId == true && !!taskId == true"
        on-valueChanged="updateTask($event); taskModal.close()"
        projectId="{{ projectId }}"
        taskId="{{ taskId }}" mode="edit"></task-form>
    </modal-content>
</modal>

<modal #deadlineModal id="deadline-modal" class="text-center">
    <modal-content>
        <p-calendar (onSelect)="setDeadline($event)" 
                    [(ngModel)]="deadline" 
                    [inline]="true"></p-calendar>
    </modal-content>
</modal>