#ng2-app {

  /*Section with project name*/
  .project {
    position: relative;
    background: #5082BE; /* Для старых браузров */
    background: linear-gradient(to top, #385EA2, #5082BE);
    padding: 10px 110px 10px 52px;
    color: white;

    &:hover .project-controls { display: block; }

    .project-controls {
      width: 70px;
      position: absolute;
      right: 0px;
      top: 10px;
      padding: 0;
      display: none;

      div {
        display: inline-block;
        padding: 0 8px 0;
        height: 18px;
        opacity: .6;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    .fa-calendar {
      position: absolute;
      font-size: 20px;
      opacity: .6;
      color: #000;
      left: 17px;
      top: 9px;
    }
  }

  /*Section for new task form*/
  .new-task {
    background: #D7D7D7; /* Для старых браузров */
    background: linear-gradient(to top, #CDCDCD, #E0E0E0);
    padding: 8px 10px;

    .plus {
      width: 42px;
      display: table-cell;
      padding-right: 20px;
      padding-left: 5px;
    }
    
    i.fa-plus {
      position: absolute;
      font-size: 28px;
      color: green;
      top: 0;
    }

    form.input-group {
      input {
        font-size: 12px;
        height: 28px;
        padding: 5px 10px;
        resize: none;
      }

      .btn {
        width: 90px;
        font-size: 12px;
        line-height: 12px;
        height: 28px;
        color: #fff;
        background: linear-gradient(to top, #2C6F1F, #35A31F);
      }
    }
  }

  /* Section with tasks */
  .tasks {
    position: relative;
    margin: 0px auto 20px;
    background: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .todo-list {
      margin: 0;

      &:before {
        content: '';
        width: 5px;
        z-index: 2;
        border: 1px solid #f2e3df;
        border-width: 0 1px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 45px;   
      }

      &:after {
        content: '';
        border-left: 1px solid #e6ebed;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 100px;
      }

      .item {
        position: relative;
        padding: 12px 110px 10px 60px;
        line-height: 21px;
        font-size: 12px;
        color: #8b8f97;
        border-bottom: 1px solid #e6ebed;

        &:last-child {
          border-bottom: none;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &:hover { 
          background-color: #FCFED5; 

          .todo-controls {
            display: block;
          }
        }

        input[type=checkbox] {
          display: none;

          &:checked + .toggle:after{
            opacity: 1;
          }

          &:checked ~ .task {
            text-decoration: line-through;
          }
        }

        .toggle, 
        .todo-controls div { cursor: pointer; }

        .todo-controls {
          width: 100px;
          position: absolute;
          right: 0px;
          top: 12px;
          padding: 0 5px 0;
          display: none;

          i {
            width: 20px;
            text-align: center;
            opacity: .6;            

            &.prioritize { cursor: move; }
          }

          div {
            display: inline-block;
            padding: 0 4px 0;
            border-right: 1px solid #e6ebed;
            height: 18px; 
            
            &:hover i { opacity: 1; }
            &:last-child { border-right: none; }
          }
        }

        .toggle {
          &:after {
            content: '';
            position: absolute;
            top: 18px;
            left: 19px;
            border: 2px solid #aaa;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
            height: 5px;
            width: 7px;
            opacity: 0;
          }

          &:before {
            content: '';
            width: 15px;
            height: 15px;
            background: #faf9f9;
            border: 1px solid #6bb3ca;
            border-radius: 2px;
            position: absolute;
            top: 14px;
            left: 15px;
            box-shadow: 0 1px 1px #dfecf4;
            -moz-box-shadow: 0 1px 1px #dfecf4;
            -webkit-box-shadow: 0 1px 1px #dfecf4;
          }

          &:hover:before {
            -webkit-box-shadow: 0 0 3px #6bb3ca;
            -moz-box-shadow: 0 0 3px #6bb3ca;
            box-shadow: 0 0 3px #6bb3ca;
          }
        }
      }

      .done .toggle:before,
      .toggle:active:before {
        border-color: #c0c0c0 #ccc #d8d8d8;
        -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);        
      }
    }
  }

  /* Modal-window */
  .modal-footer,
  .modal-header { display: none; }
  .modal-dialog { top: 40vh; }
  .modal-content { border-radius: 0; }

  /* Modal-window for project */
  #project-modal {
    .modal-body {
      background: #5082BE; /* Для старых браузров */
      background: linear-gradient(to top, #385EA2, #5082BE);
    }

    form.input-group {
      .btn {
        width: 120px;
        font-size: 14px;
        line-height: 14px;
        height: 32px;
        background: linear-gradient(to top, #2F4A6A, #315177);
        color: #fff;
        border: none;
      }

      input {
        font-size: 14px;
        height: 32px;
        padding: 5px 10px;
        resize: none;
      }
    }
  }

  /* Modal window for task */
  #task-modal {
    .plus {
      display: none; 
    }

    .modal-body {
      background: #D7D7D7; /* Для старых браузров */
      background: linear-gradient(to top, #CDCDCD, #E0E0E0);
      padding: 10px 15px;
    }

    form.input-group {
      input {
        font-size: 12px;
        height: 28px;
        padding: 5px 10px;
        resize: none;
      }

      .btn {
        width: 90px;
        font-size: 12px;
        line-height: 12px;
        height: 28px;
        background: linear-gradient(to top, #2C6F1F, #35A31F);
        color: #fff;
        border: none;
      }
    }
  }

  /* Add TODO list btn */
  .btn.add-todo-btn,
  .btn.add-todo-btn:active,
  .btn.add-todo-btn:hover {
    border-radius: 2px;
    background: linear-gradient(to top, #385EA2, #5082BE);
    padding-left: 40px;
    padding-right: 20px;
    color: #fff;
    border: none;
  }

  .add-todo-btn .plus { position: relative; }

  .add-todo-btn i.fa-plus {
    position: absolute;
    left: -30px;
    top: -2px;
    font-size: 26px;
    color: #315177;
  }

}